%h1 Organisations

%ul.list-group.span5
  - @organisations.each do |organisation|
    %li.list-group-item
      %strong= link_to organisation.name, organisation

.clearfix
= link_to 'New Organisation', new_organisation_path, class: 'btn btn-primary'
