%h1 Organisations

%ul.list-group.span5
  - unless @organisations.any?
    %p You currently have no organisations to contribute to. <br/> Ask a colleague to invite you to an existing organisation or #{link_to "create a new one", new_organisation_path}.
  %p
  - @organisations.each do |organisation|
    %li.list-group-item
      %strong= link_to organisation.name, organisation

.clearfix
= link_to 'New Organisation', new_organisation_path, class: 'btn btn-primary'
