= simple_form_for resource, :as => resource_name, :url => user_organisation_invitation_path(@organisation, resource_name), remote: true, :html => {:method => :post, class: 'col-md-6'} do |f|
  = devise_error_messages!

  = f.input :email

  = f.submit 'Invite user', class: 'btn btn-primary'

