/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-tokenfield
 *= require bootstrap
 *= require_tree .
 *= require flat-ui
 *= require_self
 *= require bootstrap-datetimepicker
 */

@font-face {
    font-family: 'franchiseregular';
    src: url('/franchise-bold-webfont.eot');
    src: url('/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/franchise-bold-webfont.woff') format('woff'),
         url('/franchise-bold-webfont.ttf') format('truetype'),
         url('/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleo-regular';
    src: url('/aleo-regular-webfont.eot');
    src: url('/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/aleo-regular-webfont.woff') format('woff'),
         url('/aleo-regular-webfont.ttf') format('truetype'),
         url('/aleo-regular-webfont.svg#aleo-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  visibility: visible;
  opacity: 1;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  webkit-transition: 0s; */
  -moz-transition: 0s;
  -o-transition: 0s;
   transition: 0s; 
}

select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: black;
  background-color: white;
  cursor: default;
  /*font: 500 18px/1em 'Helvetica Neue', 'Varela Round' !important;*/
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  height: 39px !important;
  line-height: 49px;
  padding: 12px;
  width: inherit;
}

.controls>.radio:first-child, .controls>.checkbox:first-child {
   padding-top: 0px; 
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

body > div.container-fluid > div > div.span9 > form > table > tbody > tr:nth-child(1) > td:nth-child(1) > label {
  margin-top: 5px;
}

.has-switch label {
  height: 29px;
  width: 29px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'aleo-regular'
}

#canvas-container{
    display:block;
    /*width:80%;*/
    /*padding:50px 10%;*/
    height:350px;
} 

canvas, #legend {
  float: left;
}

.navbar-inner {
  background: 0;
}

.datepicker {
visibility: visible;
opacity: 1;
width: auto;
}

.form_table { display: table; } 
.form_table>* { display: table-row; }
.form_table>*>* { display: table-cell; vertical-align: top; }

input[id^=klass_lessons_attribute] {
  max-width: 170px !important;
}

.page-header > * {
  display: inline;
  padding-left: 20px;
}

.page-header > p {
  font-size: 16px;
}

.legend .title {
display: block;
margin: 0.5em;
border-style: solid;
border-width: 0 0 0 1em;
padding: 0 0.3em;
}

.table .checkbox, .table .radio {
  display: inline;
  margin: 5px 0 5px 12px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('sort_desc_disabled.png') no-repeat center right; }

/*table.dataTable tr.odd, table.dataTable tr.even {
  background-color: inherit; 
}

table.dataTable tr.danger > td {
  background-color: #fdefed;
  border-color: #fadbd8;
}*/

.dataTables_paginate, .dataTables_filter {
float: right;
}

.dataTables_paginate > a {
  margin: 0 5px;
}


.dataTables_wrapper .row {
  margin: 20px 0;
}

div.field.bfh-timepicker > div.input-group.bfh-timepicker-toggle > input, div.field.bfh-datepicker > div.input-group.bfh-datepicker-toggle > input {
color: #000;
}

@media (max-width: 767px) {

  input[id^=klass_lessons_attribute] {
    max-width: inherit !important;
  }

  select {
    width: 100%;
  }

  .table {
   display: table; 
  }

  .page-header > * { display: block; }

}